.system-graphic {
}

.graphic-content {
  position: relative;
}

.grid, .ground, .buildings, .markers {
  position: absolute;
}

.tile {
  position: absolute;
}

.ground-tile, .building-tile, .marker-tile {
  width: 100%;
  height: 100%;
}

.grid {
  position: absolute;
}

.grid-tile {
  fill: none;
  stroke: gray;
  stroke-width: 1px;
}

.dot, .dot-background {
  border-radius: 50%;
  transform-origin: 50% 50%;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
  z-index: 2;
}

.dot {
  background: white;
}

.dot:hover {
  opacity: 1;
  transition: .3s ease-in;
  cursor: pointer;
}

.dot-background {
  opacity: 0;
  border: 0.1em solid white;
  animation: pulse 3s 2s infinite;
}

.marker-content {
  position: fixed;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  transform-origin: 50% 50%;
  transform: scale(0);
}

.marker-content.open {
  transform-origin: 50% 50%;
  display: block;
  background: gray;
  padding: 100px;
  transform: scale(1);
  transition: all .3s ease-in;
}

.building-tile {
  transform: translateY(-50%);
  width: 100%;
  height: 100%;
}

@keyframes pulse {
  0% {
    opacity: 0.5;
    transform-origin: 0% 0%;
    transform: scale(1.3) translate(-50%, -50%);
  }
  100% {
    opacity: 0;
    transform-origin: 0% 0%;
    transform: scale(1.6) translate(-50%, -50%);
  }
}

.powerline, .powerflow {
  fill: none;
  opacity: 0.6;
}

.powerline {
  stroke: darkgray;
  stroke-width: 3;
}

.powerflow {
  stroke: white;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-dasharray: 1 10;
  animation: powerflow 15s infinite linear forwards;
}

@keyframes powerflow {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -250;
  }
}
